{% extends 'university/course/course_base.html' %}
{% load i18n %}

{% block content %}
    <ul>
        {% for course in object_list %}
            <li>
                <a href="{% url 'course-details' course.id %}">{{ course.title }}</a>
                <a href="{% url 'update-course' course.id %}">{% trans 'Edit' %}</a> |
                <a href="{% url 'delete-course' course.id %}">{% trans 'Delete' %}</a>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'create-course' %}">{% trans 'Create a new course' %}</a>
{% endblock %}