{% extends 'university/course/course_base.html' %}
{% load i18n %}

{% block content %}
    <h1>{% trans 'Title' %}: {{ course.title }}</h1>
    <h3>{% trans 'Teachers' %}: {% for teacher in course.all_teachers %}
        {{ teacher.fio }}{% if not forloop.last %}, {% endif %}
    {% endfor %}</h3>
    <p>{% trans 'Popularity' %}: {{ course.popularity }}</p>

    <h4>{% trans 'Students:' %}</h4>
    <ul>
        {% for student in course.students_list %}
            <li>
                {{ student }}
            </li>
            {% empty %}
            <p>{% trans  'There are no students in this course.'%}</p>
        {% endfor %}
    </ul>
{% endblock %}